.profileBorderTop {
  border: 0.5px solid green;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.profileBorderBot {
  border: 0.5px solid green;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
